# clock signal for 50 MHz
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;

# ==== Character LCD (LCD) ====
NET "e"  LOC = "M18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "rs" LOC = "L18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "rw" LOC = "L17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 

# LCD data connections are shared with StrataFlash connections SF_D<11:8>
NET "D[0]"   LOC = "R15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "D[1]"   LOC = "R16" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "D[2]"  LOC = "P17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "D[3]"  LOC = "M15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "sf_e" LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;