//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 12 11:43:45 2017
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "M18" LEVEL 1;
COMP "sf_e" LOCATE = SITE "D16" LEVEL 1;
COMP "CF" LOCATE = SITE "F12" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "SF" LOCATE = SITE "E11" LEVEL 1;
COMP "ZF" LOCATE = SITE "E12" LEVEL 1;
COMP "rs" LOCATE = SITE "L18" LEVEL 1;
COMP "rw" LOCATE = SITE "L17" LEVEL 1;
COMP "p<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "p<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "p<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "p<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "set1" LOCATE = SITE "V4" LEVEL 1;
COMP "set2" LOCATE = SITE "K17" LEVEL 1;
COMP "set3" LOCATE = SITE "D18" LEVEL 1;
COMP "a" LOCATE = SITE "R15" LEVEL 1;
COMP "b" LOCATE = SITE "R16" LEVEL 1;
COMP "c" LOCATE = SITE "P17" LEVEL 1;
COMP "d" LOCATE = SITE "M15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

