//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 31 19:45:55 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "init<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "init<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "init<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "init<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "set" LOCATE = SITE "V4" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
COMP "out<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "out<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "out<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "out<3>" LOCATE = SITE "F11" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

