NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clk" PERIOD = 20.0ns HIGH 50%;

NET "p[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "p[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "p[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "p[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "set1"  LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "set2"  LOC = "K17"| IOSTANDARD = LVTTL | PULLDOWN ;

NET "carry" LOC = F12 |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

// From dsiplay.ucf


# ==== Character LCD (LCD) ====
NET "e"  LOC = "M18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "rs" LOC = "L18" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "rw" LOC = "L17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 

# LCD data connections are shared with StrataFlash connections SF_D<11:8>
NET "a"  LOC = "R15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "b"  LOC = "R16" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "c"  LOC = "P17" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "d"  LOC = "M15" | IOSTANDARD = LVCMOS33  | DRIVE = 4  | SLEW = SLOW ; 
NET "sf_e" LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;